<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/svg+xml" href="/vite.svg" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<environment include="Production">
		<link rel="stylesheet" vite-manifest="main.css" asp-append-version="true" />
	</environment>
</head>
<body>
	<main role="main" id="app">
		@RenderBody()
	</main>

	<environment include="Development">
		<!-- Vite development server script -->
		<vite-client/>
		<script type="module" src="~/main.ts"></script>
	</environment>
	<environment include="Production">
		<script type="module" vite-manifest="main.ts" asp-append-version="true"></script>
	</environment>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>