<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/svg+xml" href="/vite.svg" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	
	@await RenderSectionAsync("HeadContent", required: false)
</head>
<body>
	<main role="main" id="app">
		@RenderBody()
	</main>

	<environment include="Development">
		<!-- Vite development server script -->
		<script type="module" src="~/@@vite/client"></script>
	</environment>
	
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>