@using Microsoft.AspNetCore.Components.Web
@using Vite.AspNetCore.Abstractions;
@inject IViteManifest Manifest
@namespace ViteNET.BlazorServer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Vite.AspNetCore

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" type="image/svg+xml" href="/vite.svg" />
	<base href="~/" />
	<environment include="Production">
		<link rel="stylesheet" vite-manifest="main.css" asp-append-version="true" />
	</environment>
	<component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
	@RenderBody()

	<div id="blazor-error-container">
		<div id="blazor-error-ui">
			<environment include="Staging,Production">
				An error has occurred. This application may no longer respond until reloaded.
			</environment>
			<environment include="Development">
				An unhandled exception has occurred. See browser dev tools for details.
			</environment>
			<a href="" class="reload">Reload</a>
			<a class="dismiss">🗙</a>
		</div>
	</div>

	<script src="_framework/blazor.server.js"></script>

	<environment include="Development">
		<!-- Vite development server script -->
		<vite-client/>
		<script type="module" src="main.ts"></script>
	</environment>
	@*<environment include="Production">
		<script type="module" src="@Manifest["main.ts"]!.File" asp-append-version="true"></script>
	</environment>*@
</body>
</html>
